server:
  port: 8080

database:
  host: localhost
  port: 5432
  user: aic_admin
  password: aic_secure_password
  dbname: ai_camera
  sslmode: disable

redis:
  addr: localhost:6379
  password: ""
  db: 0

kafka:
  brokers:
    - localhost:9092
